/node_modules
/public/hot
/public/js/
/public/storage
/storage/*.key
/storage
/builder
/vendor
bootstrap
vendor
.env
.env.backup
bitbucket-pipelines.yml
/bitbucket-pipelines.yml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
webpack.mix.js
.idea
/.idea/
.idea/php.xml
.idea/resume-yak.xml
